* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: hsl(233, 13%, 49%);
}
body {
    background-color: hsl(240, 78%, 98%);
    background-image: url(./images/bg-bottom.svg), url(./images/bg-top.svg);
    background-repeat: no-repeat;
    background-position: bottom left, top right;
    background-size: auto, auto;
}
html {
    height: 100vh;
}

p {
    font-size: 15px;
}
h1 {
    margin: 15vh 0px 30px 0px;
}
hr {
    width: 100%;
    border: 0.1px solid gray;
}

/***** header *****/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
}
.toggle-container {
    display: flex;
    align-items: center;
}
header p {
    color:  hsl(234, 14%, 74%);
}

/***** toggle *****/
#toggle__checkbox {
    margin: 0px 15px;
    position: relative;
    width: 55px;
    height: 30px;
    -webkit-appearance: none;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 50px;
}
#toggle__checkbox::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;   
    transition: .2s; 
}
#toggle__checkbox:checked:before {
    left: 100%;
    transform: translate(-112.5%, -50%);
    transition: .2s;
}




/***** main *****/
main {
    display: flex;
    width: 100vw;
    justify-content: center;
}
.main__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vh;
    width: 90vw;
    justify-content: center;
}
.option-box {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 35vh;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 50px hsla(237, 63%, 64%, 0.226);
    z-index: 0;
}
.option-box h2 {
    font-size: 15px;
}
.option-box h3 {
    font-size: 50px;
}
.option-box__details {
    margin: 10% 0%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 10%;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 5px;
}
.btn p {
    color: white;
}

/***** hover option box *****/
@media (min-width: 380px) {

    .option-box:hover {
        height: 58vh;
        margin-top: 0px;
        background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        z-index: 1;
    }
    .option-box:hover h2,.option-box:hover h3,.option-box:hover p {
        color: white;
    }
    .option-box:hover hr {
        border: 0.1px solid white;
    }
    .option-box:hover .btn {
        background-image: linear-gradient(to right, hsl(0, 0%, 100%), hsl(0, 0%, 100%));
    }
    .option-box:hover .btn p {
        color: hsl(237, 63%, 64%);
    }
}

@media (max-width: 375px) {
    body {
        background-image: url(./images/bg-top.svg);
        background-size: 50% 100vh;
        background-position: top right;
    }
    .main__container {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .option-box:nth-child(2) {
        background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    }
    .option-box:nth-child(2) h2,.option-box:nth-child(2) h3,.option-box:nth-child(2) p {
        color: white;
    }
    .option-box:nth-child(2) hr {
        border: 0.1px solid white;
    }
    .option-box:nth-child(2) .btn {
        background-image: linear-gradient(to right, hsl(0, 0%, 100%), hsl(0, 0%, 100%));
    }
    .option-box:nth-child(2) .btn p {
        color: hsl(237, 63%, 64%);
    }
    .option-box:last-child {
        margin-bottom: 5vh;
    }
}