html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
    font-family: Montserrat;
    background-color: hsl(240, 78%, 98%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bg-top {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
}

.bg-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
}

.title {
    color: hsl(232, 13%, 33%);
}

.header-text {
    color: hsl(234, 14%, 74%);
    font-size: 12px;
    font-weight: bold;
}

.row {
    width: 16%;
    display: flex;
    justify-content: center;
}

.space-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-section {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 70%;
}

.card {
    position: relative;
    width: 30%;
    border-radius: 5px;
    text-align: center;
}

.edge {
    height: 90%;
    background-color: white;
    margin-top: 2%;
}

.middle {
    height: 100%;
    background-image: linear-gradient(hsl(236, 72%, 79%) ,  hsl(237, 63%, 64%));
}

.middle-container {
    position: relative;
    margin-top: 11%;
}

.main-text {
    font-size: 14px;
    font-weight: bold;
    color: hsl(232, 13%, 33%);
}

.price-text {
    font-size: xx-large;
    font-weight: bold;
    color: hsl(232, 13%, 33%);
}

.button {
    padding: 8px 70px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.edge button {
    background-image: linear-gradient(hsl(236, 72%, 79%) ,  hsl(237, 63%, 64%));
    color: white;
}

.edge button:hover {
    border: hsl(237, 63%, 64%) 1px solid;
    background-image: none;
    background-color: white;
    color: hsl(237, 63%, 64%);
}

.middle button {
    background-color: white; 
    color: hsl(237, 63%, 64%);
}

.middle button:hover {
    border: white 1px solid;
    background-image: linear-gradient(hsl(236, 72%, 79%) ,  hsl(237, 63%, 64%));
    color: white;
}

.middle p {
    color: white;
}

.middle hr {
    color: white;
}

.edge hr {
    color: hsl(232, 13%, 33%);
}

hr {
    width: 240px;
}

.checkbox-input {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
    background-image: linear-gradient(hsl(236, 72%, 79%) ,  hsl(237, 63%, 64%));
    appearance: none;
    outline: none;
    border-radius: 20px;
    transition: 0.4s;
    bottom: 30px;
}

.checkbox-input:hover {
    background-image: none;
    background-color: hsl(234, 14%, 74%);
    cursor: pointer;
}

.checkbox-input::before {
    position: absolute;
    content: "";
    left: 2px;
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    transition: 0.5s;
}

.checkbox-input:checked::before {
    left: 20px;
}

.price1::after {
    content: "190.99";
}

.price2::after {
    content: "240.99";
}

.price3::after {
    content: "390.99";
}

.checkbox-input:checked ~ .main-section .card .price1::after {
    content: "19.99";
}

.checkbox-input:checked ~ .main-section .card .price2::after {
    content: "24.99";
}

.checkbox-input:checked ~ .main-section .card .price3::after {
    content: "39.99";
}