@media only screen and (max-width: 1440px) {
  * {
    font-family: Montserrat;
    font-weight: 700;
  }
  body {
    background-image: url("../../images/bg-bottom.svg"),
      url("../../images/bg-top.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right top;
    background-attachment: fixed, fixed;
    background-color: hsl(240, 78%, 98%);
  }
  .main_box {
    display: flex;
    justify-content: center;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
